
.App {
  background-color: #0d1117;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #0d1117;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #161b22;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
  color: #e6edf3;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: #e6edf3;
  font-weight: 800;
}

input.form-control, input.form-control:focus, textarea, textarea.form-control, textarea.form-control:focus {
  background-color : #0d1117;
  border-color: #292f36;
  color: #e6edf3;
}


label {
  font-size: 16px;
  font-weight: 600;
  color: #e6edf3;
}

.card {
  width: 18rem;
}

.card-img-top {
  object-fit: cover;
}

.center {
  margin: 0 auto 40px;
  display: flex;
  justify-content: center;
}

.carousel-item {
  transition: transform 0.5s ease;
}

.carousel-item.active {
  transform: translateX(0%);
}

.carousel-item.prev {
  transform: translateX(-100%);
}

.carousel-item.next {
  transform: translateX(100%);
}

.my-modal .modal-content {
  background-color: #212529;
  border-color: #454b52;
  --body-quiet-color: #454b52;
  --bs-modal-header-border-color: #454b52;
  --bs-modal-footer-border-color: #454b52;
  --bs-modal-border-width: 0px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.footer p {
  margin: 0;
}

.btns {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btns:hover {
  background-color: #555;
}

.btns.primary {
  background-color: #007bff;
}

.btns.primary:hover {
  background-color: #0056b3;
  color: #fff;
}

.btns.secondary {
  background-color: #6c757d;
}

.btns.secondary:hover {
  background-color: #495057;
}

.btns.large {
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
}

.btns.small {
  padding: 0.6rem 1.5rem;
  font-size: 0.9rem;
}
